/* Google Fonts */
/* 1) Philosopher  */
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

/* 2)  Mulish */
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chart */
@media screen and (min-width: 1800px) {
    .chart{
        width: 1400px;
        height: 350px;
    }
  }
@media screen and (max-width: 1800px) {
    .chart{
        width: 1300px;
        height: 350px;
    }
  }
@media screen and (max-width: 1700px) {
    .chart{
        width: 1200px;
        height: 350px;
    }
  }
@media screen and (max-width: 1500px) {
    .chart{
        width: 800px;
        height: 300px;
    }
  }
@media screen and (max-width: 1000px) {
    .chart{
        width: 600px;
        height: 300px;
    }
  }
@media screen and (max-width: 500px) {
    .chart{
        width: 400px;
        height: 250px;
    }
}

  

